[submodule "moroboxai-game-sdk"]
	path = moroboxai-game-sdk
	url = https://github.com/moroboxai/moroboxai-game-sdk.git
[submodule "moroboxai-player-sdk"]
	path = moroboxai-player-sdk
	url = https://github.com/moroboxai/moroboxai-player-sdk.git
[submodule "moroboxai-player-web"]
	path = moroboxai-player-web
	url = https://github.com/moroboxai/moroboxai-player-web.git
[submodule "moroboxai-games"]
	path = moroboxai-games
	url = https://github.com/moroboxai/moroboxai-games.git
